[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
; [submodule "zsh-histdb"]
; 	path = zsh/custom/plugins/zsh-histdb
; 	url = https://github.com/larkery/zsh-histdb.git
[submodule "zsh-vi-mode"]
	path = zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
